    * {
        box-sizing: border-box;
        font-family: 'Quicksand', sans-serif;
    }
    
    body {
        margin: 0;
    }
    /* Style the header */
    
    .header {
        background-image: url('../img/banner-2.jpg');
        background-size: cover;
        padding: 10% 20px;
        text-align: center;
        background-position: top;
        background-attachment: fixed;
    }
    
    .header h1 {
        font-size: 600%;
        color: #000000
    }
    /* Estilos columns */
    
    .one-column {
        float: center;
        padding: 5% 20%;
    }
    
    .one-column h1 {
        text-align: center;
        font-size: 600%;
        width: 100%;
    }
    
    .two-column h1 {
        text-align: left;
        font-size: 500%;
        width: 50%;
        padding-left: 20px;
    }
    
    .two-column h2 {
        text-align: left;
        font-size: 300%;
        width: 50%;
        padding-left: 20px;
    }
    
    .two-column img {
        float: right;
        width: 50%;
        width: 600;
        height: 450;
    }
    
    .four-column {
        float: left;
        align-items: center;
        width: 25%;
    }
    
    .four-column img {
        float: left;
        align-items: center;
        width: 25%;
    }
    
    .four-column .desc {
        font-size: 150%;
        text-align: center;
        width: 15%;
    }
    
    .two-column3 img {
        float: left;
        width: 50%;
        width: 600;
        height: 450;
        padding: 20px;
        padding-left: 10px;
    }
    
    .two-column3 h1 {
        float: right;
        font-size: 500%;
        width: 50%;
    }
    
    .two-column3 h2 {
        float: right;
        font-size: 300%;
        width: 50%;
        padding-right: 10px;
    }
    
    .four-column4 img {
        width: 25%;
        float: left;
    }
    
    .one-column5 h1 {
        font-size: 500%;
        width: 100%;
        text-align: center;
        padding: 30% 15% 40px 15%;
    }
    
    .two-column5 {
        padding-top: 0%;
        float: left;
        width: 50%;
    }
    
    .four-column5 {
        padding-top: 0%;
        float: left;
        width: 25%;
    }
    
    .two-column5,
    .four-column5 {
        color: white;
    }
    
    .two-column5 h2 {
        padding: 25px;
    }
    
    .two-column5 h2,
    .four-column5 h2 {
        font-size: 150%;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /*FOOTER*/
    
    #footer-a {
        background-color: #28ECA5;
    }
    
    #footer-b {
        background-color: #46A6FC;
    }
    
    #footer-c {
        background-color: #000000;
    }
    
    @media screen and (max-width:600px) {
        .two-column,
        .three-column,
        .two-column3,
        .four-column4,
        .four-column {
            width: 100%;
        }
    }